#wcmore-productoptions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wcmore-panel {
  min-height: 40vh;
  border: 1px #000 solid;
  background-color: gold;
  flex: 1;
}

.wcmore-panel.right {
  flex: 3;
  margin-left: 0.5em;
}

ul.wcmore-meta-fields {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.wcmore-meta-fields li {
  padding: 0.3em 0.3em;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.wcmore-field-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  padding: 10px;
}

.wcmore-field-settings > div {
  padding: 10px 0;
  flex: 0 0 33.333333%;
}
